---
// Why Choose section component extracted from index.astro
---

<div class="w-layout-blockcontainer container w-container" id="ablauf">
  <div
    data-w-id="0f788ca1-4f9e-08de-d503-b6dd06a67a15"
    class="why-choose-wrapper">
    <div class="section-title">
      <h1>Ablauf der Behandlung</h1>
    </div>
    <div class="why-choose-slider-wrapper">
      <div class="why-choose-slider-wrap">
        <div
          data-delay="4000"
          data-animation="slide"
          class="why-choose-slider w-slider"
          data-autoplay="false"
          data-easing="ease"
          data-hide-arrows="false"
          data-disable-swipe="true"
          data-autoplay-limit="0"
          data-nav-spacing="3"
          data-duration="500"
          data-infinite="true">
          <div class="why-choose-mask w-slider-mask">
            <div class="why-choose-slide w-slide">
              <div class="why-choose-item">
                <img
                  src="choose-01.svg"
                  loading="eager"
                  alt=""
                  class="why-choose-icon"
                />
                <div>
                  <h3 class="why-choose-title">
                    1. Persönliches Beratungsgespräch
                  </h3>
                </div>
              </div>
            </div>
            <div class="why-choose-slide w-slide">
              <div class="why-choose-item">
                <img
                  src="choose-02.svg"
                  loading="eager"
                  alt=""
                  class="why-choose-icon"
                />
                <div>
                  <h3 class="why-choose-title">
                    2. Gemeinsame Besprechung der Wunschzonen
                  </h3>
                </div>
              </div>
            </div>
            <div class="why-choose-slide w-slide">
              <div class="why-choose-item">
                <img
                  src="choose-03.svg"
                  loading="eager"
                  alt=""
                  class="why-choose-icon"
                />
                <div>
                  <h3 class="why-choose-title">
                    3. Foto-Dokumentation vor der Behandlung
                  </h3>
                </div>
              </div>
            </div>
            <div class="why-choose-slide w-slide">
              <div class="why-choose-item">
                <img
                  src="choose-04.svg"
                  loading="eager"
                  alt=""
                  class="why-choose-icon"
                />
                <div>
                  <h3 class="why-choose-title">
                    4. Desinfektion &amp; Einzeichnung
                  </h3>
                </div>
              </div>
            </div>
            <div class="why-choose-slide w-slide">
              <div class="why-choose-item">
                <img
                  src="choose-04.svg"
                  loading="eager"
                  alt=""
                  class="why-choose-icon"
                />
                <div>
                  <h3 class="why-choose-title">
                    5. Injektion mit besonders feinen 33G-Nadeln
                  </h3>
                </div>
              </div>
            </div>
            <div class="why-choose-slide w-slide">
              <div class="why-choose-item">
                <img
                  src="choose-05.svg"
                  loading="eager"
                  alt=""
                  class="why-choose-icon"
                />
                <div>
                  <h3 class="why-choose-title">
                    6. Kurze Nachbeobachtung – und fertig!
                  </h3>
                </div>
              </div>
            </div>
          </div>
          <div class="why-choose-slider-arrow left w-slider-arrow-left">
            <img
              src="arrow-05.svg"
              loading="lazy"
              alt=""
              class="why-choose-arrow-icon"
            />
          </div>
          <div class="why-choose-slider-arrow right w-slider-arrow-right">
            <img
              src="arrow-04.svg"
              loading="lazy"
              alt=""
              class="why-choose-arrow-icon"
            />
          </div>
          <div class="hide w-slider-nav w-round w-num"></div>
        </div>
      </div>
    </div>
  </div>
</div>
