---
// Blog section component extracted from index.astro
---

<section class="blog-section section-spacing-bottom">
  <div class="w-layout-blockcontainer container w-container">
    <div class="w-layout-grid grid-blog">
      <div
        data-w-id="f4c225be-33b1-595b-4ec2-6aeec4e9052d"
        class="blog-section-title-wrap">
        <h2>Blog &amp; Insights</h2>
        <a href="blog.html" class="button-primary-1-outline w-button"
          >View all blogs</a
        >
      </div>
      <div class="w-dyn-list">
        <div role="list" class="grid-blogs w-dyn-items">
          <div
            data-w-id="7230ea60-e337-2c8f-082d-49a7bc359fdf"
            role="listitem"
            class="w-dyn-item">
            <a
              aria-label="link"
              data-w-id="cfcd828c-d9c9-b4e1-23a9-6500caaf8c59"
              href="#"
              class="blog-item w-inline-block">
              <div class="blog-image-wrap">
                <img
                  src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg"
                  loading="eager"
                  style="-webkit-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                  alt=""
                  class="blog-image w-dyn-bind-empty"
                />
              </div>
              <div class="blog-title-wrap">
                <h3
                  style="color:rgb(9,19,49)"
                  class="blog-title w-dyn-bind-empty">
                </h3>
                <div
                  data-w-id="fc21cfae-ea51-73f6-cd1a-9494e2ebf64d"
                  class="button-arrow">
                  <div>Read more</div>
                  <div class="button-arrow-wrap">
                    <img
                      src="arrow-01.svg"
                      loading="lazy"
                      style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      alt=""
                      class="button-arrow-icon"
                    /><img
                      src="arrow-01.svg"
                      loading="lazy"
                      style="-webkit-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                      alt=""
                      class="button-arrow-hover-icon"
                    />
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="empty-state w-dyn-empty">
          <div>No items found.</div>
        </div>
      </div>
    </div>
  </div>
</section>
