---
import { Image } from "astro:assets";
import botoxImage from "../assets/spritze.webp";
import PictureText from "./PictureText.astro";
---

<PictureText
  id="behandlungen"
  image={botoxImage}
  alt="Dr. Scheffbuch injiziert einer Patientin Botulinumtoxin in die Stirn">
  <div slot="content">
    <h2>Was ist Botulinumtoxin?</h2>
    <p>
      Botulinumtoxin Typ A (Bocouture®) ist ein seit Jahrzehnten bewährter
      Wirkstoff zur gezielten Muskelentspannung – ideal, um mimikbedingte Falten
      sanft und effektiv zu glätten.
    </p>
    <p>Ziel ist ein natürliches Ergebnis – keine maskenhafte Mimik.</p>
    <h2>Ästhetische Anwendungen</h2>
    <ul>
      <li>Zornesfalte</li>
      <li>Stirnfalten</li>
      <li>Krähenfüsse</li>
      <li>Brow Lift</li>
      <li>Lip Flip</li>
    </ul>
    <h2>Funktionelle Anwendungen</h2>
    <ul>
      <li>Bruxismus / Masseter</li>
      <li>Axilläre Hyperhidrose</li>
    </ul>
  </div>
</PictureText>
