---
import botoxImage from "../assets/spritze.webp";
import PictureText from "./PictureText.astro";
---

<PictureText
  image={botoxImage}
  alt="Dr. Scheffbuch injiziert einer Patientin Botulinumtoxin in die Stirn">
  <div slot="content">
    <h2>Was sind Filler?</h2>
    <p>
      Hyaluronsäure-Filler (z.&nbsp;B. Belotero®) sind seit Jahren bewährte
      Präparate, um die Haut gezielt zu hydratisieren und Falten sanft
      auszugleichen – für ein frisches, natürliches Ergebnis, ohne die Mimik zu
      verändern.
    </p>
    <h2>Filler-Behandlungen</h2>
    <ul>
      <li>Haut auffrischen (Gesicht, Hals, Dekolleté)</li>
      <li>Marionettenfalten auffüllen</li>
      <li>Nasolabialfalten glätten</li>
    </ul>
  </div>
</PictureText>
