---
import assessmentImage from "../assets/assessment.webp";
import { Image } from "astro:assets";
---

<section id="preise" class="centered">
  <div>
    <h1>Preise – Botulinumtoxin-Behandlung mit Bocouture®</h1>
    <div class="flex-container">
      <table>
        <tbody>
          <tr>
            <th class="underline" colspan="2" scope="colgroup">
              Gesicht (mimische Falten)
            </th>
          </tr>
          <tr class="spacer">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>1 Zone:</td>
            <td class="price">CHF 260.–</td>
          </tr>
          <tr>
            <td>2 Zonen:</td>
            <td class="price">
              <span class="original-price">CHF 500.–</span>
              <span>CHF 420.–</span>
            </td>
          </tr>
          <tr>
            <td>3 Zonen:</td>
            <td class="price">
              <span class="original-price">CHF 750.– </span>
              <span>CHF 540.–</span>
            </td>
          </tr>
          <tr class="spacer">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>Brow Lift <br /> (Zusatzleistung):</td>
            <td class="price">+ CHF 180.–</td>
          </tr>
          <tr>
            <td>Lip Flip <br /> (Zusatzleistung):</td>
            <td class="price">+ CHF 100.–</td>
          </tr>
          <tr class="spacer">
            <td colspan="2"></td>
          </tr>
          <tr>
            <th class="underline" colspan="2" scope="colgroup">
              Funktionelle Behandlungen
            </th>
          </tr>
          <tr class="spacer">
            <td colspan="2"></td>
          </tr>
          <tr>
            <td>Bruxismus/Masseter <br /> (beidseits):</td>
            <td class="price">CHF 480.–</td>
          </tr>
          <tr>
            <td>Axilla/Achseln <br /> (beidseits):</td>
            <td class="price">CHF 900.–</td>
          </tr>
        </tbody>
      </table>
      <div style="max-width: 400px;">
        <Image
          src={assessmentImage}
          alt="Dr. Scheffbuch assessing a patient's face"
          sizes="(max-width: 768px) 300px, 400px"
        />
      </div>
    </div>
  </div>
  <style>
    .flex-container {
      display: flex;
      gap: 4rem;
      flex-wrap: wrap;
      justify-content: center;
    }
    table {
      display: inline-block;
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border: 1px solid rgba(142, 169, 228, 0.14);
      padding: 1.25rem;
      background-image: linear-gradient(
        40deg,
        var(--color--secondary-3) 11%,
        #e5ecf91a 50%,
        var(--color--secondary-3) 87%
      );
    }

    td {
      vertical-align: bottom;
    }

    img {
      border-radius: 1rem;
    }

    .price {
      font-weight: 700;
      text-align: right;
    }

    .original-price {
      display: block;
      color: #ff4444 !important;
      text-decoration: line-through;
      font-style: italic;
      margin-top: 0.25rem;
    }

    .underline {
      text-decoration: underline;
    }

    .spacer td {
      padding: 1rem 0 0.25rem 0;
    }
  </style>
</section>
