---
// Service section component extracted from index.astro
---

<section class="service-section section-spacing">
  <div class="w-layout-blockcontainer container w-container">
    <div
      data-w-id="4e77dea2-e2c8-160c-439c-e237bf9de7f8"
      class="section-title section-title-wrap">
      <h2>Quality care options</h2>
      <a href="service.html" class="button-primary-1-outline w-button"
        >View all services</a
      >
    </div>
    <div class="w-layout-grid grid-services">
      <div
        data-w-id="9036b6c8-32f2-c5b2-5530-e9af284c1ac6"
        class="service-item bg-linear-2">
        <div class="service-image-wrap">
          <img
            src="/drscheffbuch-website/service-02_1service-02.avif"
            loading="eager"
            alt="Service Image"
            class="service-image"
          />
        </div>
        <div class="service-title-wrap">
          <div>
            <h3 class="service-title">Chronic disease management</h3>
            <p class="service-description">
              Tailored treatment plans for managing chronic conditions such as
              diabetes,
            </p>
          </div>
          <a
            data-w-id="0ec98391-5dae-6296-65b7-a3b1e4b66a9f"
            href="contact.html"
            class="button-arrow w-inline-block">
            <div>Schedule a check-up</div>
            <div class="button-arrow-wrap">
              <img
                src="/drscheffbuch-website/arrow-01.svg"
                loading="lazy"
                style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                alt=""
                class="button-arrow-icon"
              /><img
                src="/drscheffbuch-website/arrow-01.svg"
                loading="lazy"
                style="-webkit-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                alt=""
                class="button-arrow-hover-icon"
              />
            </div>
          </a>
        </div>
      </div>
      <div
        data-w-id="95b6c55b-87ce-1628-96a2-23b7477b8eaa"
        class="service-item bg-linear-2">
        <div class="service-image-wrap">
          <img
            src="/drscheffbuch-website/service-01_1service-01.avif"
            loading="eager"
            alt="Service Image"
            class="service-image"
          />
        </div>
        <div class="service-title-wrap">
          <div>
            <h3 class="service-title">Pediatric care</h3>
            <p class="service-description">
              Tailored treatment plans for managing chronic conditions such as
              diabetes,
            </p>
          </div>
          <a
            data-w-id="95b6c55b-87ce-1628-96a2-23b7477b8eb2"
            href="contact.html"
            class="button-arrow w-inline-block">
            <div>Schedule a check-up</div>
            <div class="button-arrow-wrap">
              <img
                src="/drscheffbuch-website/arrow-01.svg"
                loading="lazy"
                style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                alt=""
                class="button-arrow-icon"
              /><img
                src="/drscheffbuch-website/arrow-01.svg"
                loading="lazy"
                style="-webkit-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                alt=""
                class="button-arrow-hover-icon"
              />
            </div>
          </a>
        </div>
      </div>
      <div
        data-w-id="62233e95-f6f7-7497-baa2-e18201cfed4d"
        class="service-item bg-linear-2">
        <div class="service-image-wrap">
          <img
            src="/drscheffbuch-website/service-03_1service-03.avif"
            loading="eager"
            alt="Service Image"
            class="service-image"
          />
        </div>
        <div class="service-title-wrap">
          <div>
            <h3 class="service-title">Geriatric care</h3>
            <p class="service-description">
              Specialized services for elderly patients, addressing age-related
              health concerns
            </p>
          </div>
          <a
            data-w-id="62233e95-f6f7-7497-baa2-e18201cfed55"
            href="contact.html"
            class="button-arrow w-inline-block">
            <div>Schedule a check-up</div>
            <div class="button-arrow-wrap">
              <img
                src="/drscheffbuch-website/arrow-01.svg"
                loading="lazy"
                style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                alt=""
                class="button-arrow-icon"
              /><img
                src="/drscheffbuch-website/arrow-01.svg"
                loading="lazy"
                style="-webkit-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(-70px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
                alt=""
                class="button-arrow-hover-icon"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
