---
// Navbar component for subpages (impressum, datenschutz)
---

<div class="navbar">
  <nav>
    <a href="/" class="brand-link">
      <div class="brand-icon">
        <img
          src="/icon.webp"
          loading="lazy"
          alt="Dr. Scheffbuch Logo"
          class="logo"
        />
      </div>
    </a>

    <a href="/" class="nav-link w-nav-link">Startseite</a>
    <a href="tel:185555666" class="button-icon-link mobile-hide w-inline-block"
      ><img src="/call-dark.svg" loading="eager" alt="" class="button-icon" />
      <div>+41 71 222 20 22</div>
    </a>
  </nav>
</div>

<style>
  .navbar {
    display: flex;
    justify-content: center;
    margin: 0 30px;
  }

  nav {
    max-width: 1200px;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    object-fit: cover;
  }
</style>
