---
import BackButton from "../components/BackButton.astro";
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";

const isPreview = import.meta.env.PUBLIC_PREVIEW === "true";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/icon.webp" />
    <link href="/icon.webp" rel="shortcut icon" type="image/x-icon" />
    <link href="/icon.webp" rel="apple-touch-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="robots"
      content={isPreview ? "noindex,nofollow" : "index,follow"}
    />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <GlobalStyles />
  </head>
  <body>
    <main>
      <BackButton class="button" />
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 800px;
    margin: 50px auto;
    padding: 0 1.5rem;
  }
</style>
