---
import BackButton from "../components/BackButton.astro";
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
---

<!doctype html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/public/icon.webp" />
    <link href="/public/icon.webp" rel="shortcut icon" type="image/x-icon" />
    <link href="/public/icon.webp" rel="apple-touch-icon" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{Astro.props.title}</title>
    <meta name="description" content={Astro.props.description} />
    <GlobalStyles />
  </head>
  <body>
    <main>
      <BackButton class="button" />
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    max-width: 800px;
    margin: 100px auto;
  }
</style>
